{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div  class="card">
                    <div  class="card-body">
                        <h4  class="card-title">Смена пароля</h4>

                        <p>"Ваш пароль был изменен. Можете войти на сайт."</p>

                        <p><a href="{{ login_url }}">'Войти'</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endblock %}