{% load popular_post %}
{% get_popular_post as popular_post %}


<div class="post post-row">
    {% for post in popular_post %}
    <a class="post-img" href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}" alt="" width="300" height="250"></a>
    <div class="post-body">
        <div class="post-meta">
            <a class="post-category cat-2" href="{{ post.category.get_absolute_url}}">{{post.category.title}}</a>
            <span class="post-date">{{post.created_at|date:"SHORT_DATE_FORMAT"}}</span>
        </div>
        <h3 class="post-title">
            <a href="{{ post.get_absolute_url }}">{{ post.title}}</a>
        </h3>
        <p>{{ post.text|truncatewords:25|safe}}</p>
    </div>
    {% endfor %}
</div>